.abt-search-btn {
    background-color:#ffe300;
    border:0;
    border-right:1px solid #f9d400;
    width:60px;
    font:700 14px futura-pt,Arial Narrow,Helvetica Neue,Arial,Helvetica,sans-serif;
    line-height:50px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    color:#393131;
    margin:0 0 0 1px;
    -webkit-transition:background .8s cubic-bezier(1,0,0,1);
    -moz-transition:background .8s cubic-bezier(1,0,0,1);
    -o-transition:background .8s cubic-bezier(1,0,0,1);
    transition:background .8s cubic-bezier(1,0,0,1);
}

.abt-search-btn:hover{
    background-color:#ffea00;
    background-position:60px 0;
}


.search-area {
    position: relative;
    border: 0 none;
    width: auto;
    height: 51px;
}

.abt-search-box {
    position: relative;
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 0 0;
    border: 0 none;
    height: 51px;
    width: 350px;
    z-index: 10001;
    font:700 20px futura-pt,Arial Narrow,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: normal;
}

#maparea {
}


#suggestions{
    z-index: 1 !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 460px;
    padding: 5px;
    /*border: 1px solid;*/
    
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li{
    font-size: 18px;
    text-decoration: none;
}

ul li a {
    font-size: 18px;
    text-decoration: none;
}

ul li a:hover {
    text-decoration:none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;

}
