<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.mobile-1.3.1.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZe9ftqbsTOChqaoGsWOBb-G06ydFRDqE&v=3.exp&sensor=false&libraries=places"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <![endif]-->
    <style>
        body { margin:0; padding:0; }
        #map {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 150px;
            left: 0px;
            z-index: 0;
        }
        .searchbox {
            min-height: 40px !important;
        }
        .input-append {
            border: 1px solid #ccc;
            background-color: #e3e3e3;
            padding: 10px;
            border-radius: 5px;
            min-height: 40px !important;
        }
    </style>
</head>
<body>
<div data-theme="h" data-role="page" class="{% block pagecolor %}pink{% endblock %}" id="mapboxhome">
    <form action="return false;" class="form-inline" id="searchform">
        <div class="input-append">
        <input class="input input-xxlarge" name="txtLocation" id="txtLocation" type="text" placeholder="Search....." style="height: 35px;">
        <button class="btn btn-large" id="searchButton" type="button">Search</button>
        </div>
    </form>
    <table border="0px" cellpadding="0px" cellspacing="0px" class="listview">
        <tr>
            <td colspan="4">
                <ul id="suggestions" data-role="listview" data-inset="true" data-filter="false" data-filter-reveal="true" data-theme="h">
                    <li data-icon="false"><a id="current_location">Get current location...</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <div id="geocode-error"></div>
    <div id='map'></div>
</div>
<script type='text/javascript'>
    var map = L.mapbox.map('map', 'myticmoon.map-1hexx4xe');
    map.setView([1.352, 103.819], 11);
</script>
</body>
</html>